
@import "tailwindcss";


@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@800&family=Nunito:wght@400;500;600;700&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import 'swiper/css';
@import 'swiper/css/pagination';
@import 'swiper/css/navigation';
