
@import "tailwindcss";


@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@800&family=Nunito:wght@400;500;600;700&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import 'swiper/css';
@import 'swiper/css/pagination';
@import 'swiper/css/navigation';
@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  animation: fade-in-up 0.5s ease-out;
}

